@{
    ViewData["Title"] = "Home Page";
}
<div class="container ">
    <div class="row bg-light border">
        <div class="col">
            <picture>
                <source srcset="~/lib/mWordSearch.png" />
                <img src="~/lib/mWordSearch.png" alt="Word Search Puzzle" />
            </picture>
            <p class="fw-bold">Summary</p>
            <p class="fst-italic fs-6">
                Create a website that allows a user to add words to a word search and it randomly generates a word search puzzle in a given sized matrix
            </p>
            <div class="col-6 text-end">
                <a asp-controller="Home" asp-action="MakeWordSearch" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create New WordSearch
                </a> @* we will need to create an action for New Category place link of icon before create new category and @nbsp for space between*@
            </div>
        </div>
        <div class="col">
            <h1 class="display">Word Search Guidelines</h1>
            <p class="fs-6">Client enteres how mnay letters squared the word search will be (ex: 10 = 10x10 square. 14 = 14x14 etc)</p>
            <p class="fs-6">Client begins entering words that should be embedded into the word search</p>
            <p class="fs-6">Server generates a matrix with the current list of words hidden in it (horizontal, vertical,or for extra credit: diagonally) and fills in missing spaces with random letters and displays it to the client with the current word list next to it</p>
            <p class="fs-6">Validate if a word cannot be entered into the word search (ex: word is too long or too many words to insert into the matrix size given) and alert the client if the word cannot be added</p>
            <p class="fs-6">Allow the client to regenerate the word search at will (same words, different matrix by hitting a “rebuild” button)</p>
            <p class="fs-6">The puzzle should be created and subsequently rebuilt without refreshing the entire page (AJAX, Jquery, or some other kind of postback to refresh the partial view without reloading the entire page)</p>
            <p class="fs-6">Extra credit: add an additional feature you think is interesting and highlight it in thereadme.</p>
        </div> 
        <div class="w-100"></div>

    </div>
</div>